@import "tailwindcss";

@custom-variant dark (&:is(html.dark *));

:root {
  --background: #ffffff;
  --foreground: #0b0b0f;
  --primary: #a855f7;
  --primary-foreground: #ffffff;
  
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  
  --accent: #f3f4f6;
  --accent-foreground: #0b0b0f;
  
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #a855f7;
  
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;

  --page-max-width: 1300px;

  --screen: #f5f5f7;
  --shadow-textarea: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px inset;
}

html.dark {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #a855f7;
  --primary-foreground: #ffffff;

  --muted: #222222;
  --muted-foreground: #a1a1aa;

  --accent: #222222;
  --accent-foreground: #ffffff;

  --border: #333333;
  --input: #333333;
  --ring: #a855f7;

  --destructive: #7f1d1d;
  --destructive-foreground: #ffffff;

  --screen: #111111;
  --shadow-textarea: rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-screen: var(--screen);
}

@theme static {
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
}

html {
  font-size: 14px;
  line-height: 130%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

svg {
  display: block;
  flex-shrink: 0;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
